<body class="main-background">

<%= render "layouts/sidebar" %>

<div class="col-md-6">
   <h3>フォロー一覧</h3>
   <table class="table border-bottom">
     <% @following.each do |following_user| %>
       <tbody>
         <tr>
           <td><%= attachment_image_tag(following_user, :profile_image, style:"height: 45px; width: 45px;" ) %></td>
           <td><%= following_user.name %></td>
           <td><%= link_to "詳細", user_path(following_user) %></td>
         </tr>
       </tbody>
     <% end %>
   </table>
</div>

<%= render "layouts/blog_infomation" %>

</body>