
<div class="container">

  <% if current_user != @user %>
   <%= link_to "DM", user_chat_path(@user) %>
  <% end %>

<taable>
  <thead>
    <tr>
      <th>名前</th>
      <th>プロフィール画象</th>
      <th>性別</th>
      <th>都道府県</th>
      <th>星座</th>
      <th>血液型</th>
      <th>自己紹介</th>
      <th><%= link_to "フォロー数", following_user_relationships_path(@user) %></th>
      <th><%= link_to "フォロワー数", followed_user_relationships_path(@user) %></th>
      <th>編集</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= attachment_image_tag(@user, :profile_image, fallback: "no_image.jpg") %></td>
      <td><%= @user.gender %></td>
      <td><%= @user.prefectures %></td>
      <td><%= @user.sign %></td>
      <td><%= @user.bloodtype %></td>
      <td><%= @user.introduction %></td>
      <td><%= @user.follower.count %></td>
      <td><%= @user.followed.count %></td>
      <td><%= link_to "マイページを編集", edit_user_path(@user) %></td>
    </tr>
  </tbody>
</taable>
</div>