
<div class="container">

  <% if current_user != @user %>
     <%= link_to "", user_chat_path(@user), class: "far fa-envelope" %>
  <% end %>
  <% if current_user == @user %>
     <%= link_to "", edit_user_path(@user), class: "fas fa-user-edit" %>
  <% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">名前</th>
      <th scope="col">プロフィール画象</th>
      <th scope="col">性別</th>
      <th scope="col">都道府県</th>
      <th scope="col">星座</th>
      <th scope="col">血液型</th>
      <th scope="col">自己紹介</th>
      <th scope="col"><%= link_to "フォロー数", following_user_relationships_path(@user) %></th>
      <th scope="col"><%= link_to "フォロワー数", followed_user_relationships_path(@user) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @user.name %></th>
        <td><%= attachment_image_tag(@user, :profile_image, style:"height: 80px; width: 80px;", fallback: "no_image.jpg") %></td>
        <td><%= @user.gender %></td>
        <td><%= @user.prefectures %></td>
        <td><%= @user.sign %></td>
        <td><%= @user.bloodtype %></td>
        <td><%= @user.introduction %></td>
        <td><%= @user.follower.count %></td>
        <td><%= @user.followed.count %></td>
      </th>
    </tr>
  </tbody>
</table>

