<%= render "layouts/sidebar" %>

<div class="col-md-9">
  <h5>トークルーム</h5>
  <div class="my-8 p-3 bg-dark rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">メッセージ</h6>
          <% @chats.each do |chat| %>
            <div class="media pt-3">
              <%= attachment_image_tag(chat.user, :profile_image, style:"height: 38px; width: 38px;", class: "image-circle", fallback: "no_image.jpg") %>
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark"><%= chat.user.name %></strong>
                    <%= chat.message %>
                  </div>
                </div>
            </div>
          <% end %>
  </div><br>

   <div class="form-group">
    <%= form_with model: @chat, url: user_chats_path(@user) do |f| %>
      <%= f.text_area :message, class: "form-control" %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>


