
<% if @users.present? && @posts.present? %>
  <h3>【検索結果】検索ワード:<%= @item %></h3>
  <h3>ユーザー名</h3>
  <%= render "searches/post_index" %>
  <h3>投稿内容</h3>
  <%= render "searches/users_index" %>
<% elsif @users.present? && @posts.empty? %>
  <h3>【ユーザーの検索結果】検索ワード:<%= @item %></h3>
  <h3>ユーザー名</h3>
  <%= render "searches/users_index" %>

<% elsif @users.empty? && @posts.present? %>
  <h3>【投稿の検索結果】検索ワード:<%= @item %></h3>
  <h3>投稿内容</h3>
  <%= render "searches/post_index" %>

<% else %>
  <h3><%= @item %>に該当はありません</h3>
<% end %>
