<h4>タグリスト</h4>
 <% @tag_list.each do |tag| %>
  <%= tag.name %>
 <% end %>


<% @post.each do |post| %>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">投稿者</th>
      <th scope="col">投稿日時</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= attachment_image_tag(post, :post_image, style:"height: 100px; width: 100px;" ) %></th>
        <td><%= post.user.name %></td>
        <td><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= post.title %></td>
        <td><div class="likes_<%= post.id %>">
             <%= render "likes/likes", post: post %>
            </div>
        </td>
        <td><i class="far fa-comment-dots">
              <%= post.post_comments.count %>
            </i>
        </td>
        <td><%= link_to "投稿詳細", post_path(post) %></td>
    </tr>
  </tbody>
  <% end %>
</table>






<%= form_with model:@postnew, url:posts_path, local:true do |f| %>

 <%= f.label "タイトル" %>
 <%= f.text_field :title %>

 <%= f.label "画象" %>
 <%= f.attachment_field :post_image %>

 <%= f.label "タグ" %>
 <%= f.text_field :name %>

 <%= f.label "本文" %>
 <%= f.text_field :content %>

 <%= f.submit "投稿する" %>

<% end %>