<body class="main-background">

<%= render "layouts/sidebar" %>

<div class="col-md-6">
  　<h3 class="text-center">みんなの投稿</h3>
    <% @posts.each do |post| %>
    <div class="post-img card flex-md-row mb-4 shadow-sm h-md-250 bg-dark">
      <div class="card-body d-flex flex-column align-items-start">
         <strong class="d-inline-block mb-2"><%= attachment_image_tag(post, :post_image, style:"height: 100px; width: 100px;" ) %></strong>
            <h3 class="mb-0">
              <%= post.user.name %>
            </h3>
            <h3 class="mb-0">
              <%= post.title %>
            </h3>
            <div class="mb-1"><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
            <div class="card-text">
              <div class="likes_<%= post.id %>">
               <%= render "likes/likes", post: post %>
              </div>
            </div>
            <div class="card-text mb-auto">
              <i class="far fa-comment-dots">
                <%= post.post_comments.count %>
              </i>
            </div>
            <div class="card-text mb-auto">
              <%= link_to "続きを読む", post_path(post) %>
            </div>
      </div>
    </div>
    <% end %>
    <%= paginate @posts %>
</div>


<%= render "layouts/blog_infomation" %>

</body>