<body class="main-background">

<%= render "layouts/sidebar" %>

<div class="col-md-6">
      <table class="table table-info bg-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">タイトル</th>
          <th scope="col">投稿日時</th>
          <th scope="col">like</th>
          <th scope="col"></th>
        </tr>
      </thead>
        <% @posts.each do |post| %>
        <tbody>
          <tr class="post-img">
            <th scope="row"></th>
            <td><%= post.title %></td>
            <td><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td>
              <div class="good_or_bad_<%= post.id %>">
                <%= render "posts/likeorunlike", post: post %>
              </div>
            </td>
            <td>
              <%= link_to "投稿詳細", post_path(post) %>
            </td>
          </tr>
        </tbody>
        <% end %>
    </table>
</div>

<%= render "layouts/blog_infomation" %>

</body>