<body class="main-background">
  <%= render "layouts/sidebar" %>

  <div class="col-md-6  post-img">
    <h3 class="pb-4 mb-4 font-italic border-bottom text-center">投稿詳細</h3>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= @post.title %></h2>
        <p><%= attachment_image_tag(@post, :post_image, style:"height: 100px; width: 100px;" ) %></p>
        <p class="blog-post-meta"><%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %> by <span><%= @post.user.name %></span></p>
        <p><% @post.tags.each do |tag| %>
        <span><%= link_to tag.name, post_tag_posts_path(post_id: @post.id, tag_id: tag.id), class: "btn btn-primary" %></span>
           <% end %>
        <p><%= @post.content %></p>
        <div class="good_or_bad_<%= @post.id %>">
          <%= render "posts/likeorunlike", post: @post %>
        </div><br>
        <p><%= render "relationships/follow", user: @user %></p><br>
        <p>
          <% if current_user == @post.user %>
            <%= link_to "投稿編集", edit_post_path(@post) %>
            <%= link_to "", post_path(@post), class: "fas fa-trash fa-2x", method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
          <% end %>
        </p>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0 text-dark">コメント一覧</h6>
        <div class="media pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="comment">
        　　　  　　<%= render "post_comments/comments", post: @post %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <%= form_with model: [@post,@post_comment],url:post_post_comments_path(@post), remote: true do |f| %>
          <%= f.label :comment %>
          <%= f.text_area :comment, class: "form-control" %><br>
          <%= f.submit "コメントする" %>
        <% end %>
      </div>
  </div>


 <%= render "layouts/blog_infomation" %>

</body>