<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-2 font-italic border-bottom">
    投稿詳細
  </h3>
    <div class="blog-post">
      <h2 class="blog-post-title"><%= @post.title %></h2>
      <p><%= attachment_image_tag(@post, :post_image, style:"height: 50px; width: 50px;" ) %></p>
        <p class="blog-post-meta"><%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %> by <span><%= @post.user.name %></span></p>
        <p><% @post.tags.each do |tag| %>
        <span><%= link_to tag.name, post_tag_posts_path(post_id: @post.id, tag_id: tag.id), class: "btn btn-primary" %></span>
           <% end %>
      </p>
      <p><%= @post.content %></p>
      <div class="likes_<%= @post.id %>">
        <%= render "likes/likes", post: @post %><br>
      </div>
      <div class="sns-share">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v9.0" nonce="a8ip3WA7"></script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
        <div class="line-it-button" data-lang="ja" data-type="share-b" data-ver="3" data-url="https://social-plugins.line.me/ja/how_to_install#lineitbutton" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        <%= link_to '', "https://twitter.com/share?url=#{request.url}", class: "fab fa-twitter" %>
      </div><br>
      <%= render "relationships/follow", user: @user %>
      <p>
          <% if current_user == @post.user %>
           <%= link_to "投稿編集", edit_post_path(@post) %>
           <%= link_to "削除", post_path(@post), method: :delete %>
          <% end %>
      </p>

    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">コメント一覧</h6>
        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="comment">
        　　　  　　<%= render "post_comments/comments", post: @post %>
              </div>
            </div>
          </div>
        </div>
    </div>

      <%= form_with model: [@post,@post_comment],url:post_post_comments_path(@post), remote: true do |f| %>
         <%= f.label :comment %>
         <%= f.text_area :comment, class: "form-control" %><br>

      <%= f.submit "コメントする" %>
      <% end %>
</div>


<aside class="col-md-4 blog-sidebar">
 <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">サイト内検索</h4>
    <ol class="list-unstyled">
        <li>
          <%= form_tag(search_path, method: :get) do %>
           <%= text_field_tag 'item' %>
           <%= submit_tag '検索' %>
          <% end %>
        </li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">最新の投稿</h4>
    <ol class="list-unstyled mb-0">
     <% @recent_post.each do |post| %>
      <li><%= link_to post.created_at.strftime("%Y-%m-%d"), post_path(post) %></li>
    </ol>
     <% end %>
  </div>
</aside>


