<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="nav navbar-nav navbar-center">
    <span>forest</span>
  </div>

  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "top", root_path %></li>
      <li><%= link_to "about", about_path %></li>
    </ul>
  </nav>

  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "log in", new_user_session_path %></li>
      <li><%= link_to "sign up", new_user_registration_path %></li>
    </ul>
  <% if user_signed_in? %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "mypage", user_path(current_user) %></li>
      <li><%= link_to "ユーザーを見る", users_path %></li>
      <li><%= link_to "みんなの投稿", posts_path %></li>
      <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </nav>
  <% end %>
  </nav>
</div>