<!DOCTYPE html>
<html>
  <head>
    <title>Forest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/78331e1d1c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/header2" %>
    <div class="container">
      <div class="row">
       <%= yield %>
      </div>
    </div>
  </body>
</html>
